html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background: yellow;
}

.roxo {
    background: purple;
} 

.img-double-center {
    display: grid;
    height: 100%;
    grid-template-columns:auto auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.vermelho {
    background: red;
}