html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: auto;
    background-color: aquamarine;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.rosa {
    background: rosybrown;
}

.verde {
    background: green;
}